.motta-image-before-after{
    .imageslide-handle{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .motta-svg-icon {
        font-size: 46px;
    }
}