.motta-social-icons__wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
}

.motta-social-icons__item {
	@include font-size(17/16);
	padding-left: 14px;
	padding-right: 14px;
	color: $color__gray;

	.motta-img-icon {
        display: inline-flex;

        img {
            display: block;
        }
    }
}
