.woocommerce-cart {
	.woocommerce-cart-form {
		float: left;
		width: 65.9%;
		margin-right: 24px;
		position: relative;
		border: 1px solid $color__border-main;
		padding: 26px 31px 31px;
	}

	.cart-collaterals {
		float: left;
		width: 31.9%;
		border: 1px solid $color__border-main;
		padding: 26px 31px 31px;
		background-color: #fbfbfc;
	}

	table.woocommerce-cart-form__contents {
		margin-bottom: 0;

		border-collapse: collapse;

		td {
			border: none;
		}

		thead {
			tr {
				border-bottom: 1px solid $color__border-main;
			}

			th {
				font-weight: 500;
				@include font-size(14/16);
				color: #7c818b;
				padding-top: 0;
				padding-bottom: 18px;
			}

			.product-thumbnail {
				@include font-size(18/16);
				color: #161619;
			}
		}

		tbody {
			color: #1d2128;

			tr {
				border-bottom: 1px solid $color__border-main;

				&:last-child {
					border: none;

					td {
						border-bottom: none;
						padding-bottom: 0;
					}
				}
			}

			td {
				padding: 25px 0;
			}
		}

		td.product-thumbnail {
			display: flex;
			align-items: center;
			padding-right: 20px;

			a {
				max-width: 100px;
				display: block;
			}

			img {
				min-width: 100px;
			}
		}

		td.product-name {
			width: 34.5%;
			padding-left: 0;
			padding-right: 25px;
			@include font-size(14/16);

			.product-price {
				display: none;
			}

			.product-remove {
				display: none;
			}
		}

		td.product-price {
			@include font-size(14/16);
			font-weight: 500;
			width: 14%;
		}

		td.product-quantity {
			width: 19%;
		}

		td.product-subtotal {
			@include font-size(14/16);
			font-weight: 500;
			width: 12%;
		}

		td.product-remove {
			@include font-size(20/16);
			line-height: 1;
			padding-bottom: 30px;

			a {
				color: #7c818b;

				&:hover {
					color: #1d2128;
				}
			}
		}

		.actions {
			.button-update-cart {
				float: right;
				margin-top: 15px;
			}

			.button-empty-cart {
				float: right;
				margin-right: 35px;
				margin-top: 15px;
			}
		}

		.coupon {
			display: inline-block;

			label {
				display: none;
			}

			.button {
				float: none;
				min-width: 140px;
				margin-left: 8px;
			}

			.motta-input--medium {
				min-width: 200px;
				height: var(--mt-size__medium);
			}
		}
	}

	.cart_totals {
		color: #1d2128;

		table.shop_table {
			border-collapse: collapse;
			margin-bottom: 0;
		}

		h2 {
			@include font-size(18/16);
			font-weight: 500;
			margin: 0 0 14px;
		}

		.cart-subtotal {
			@include font-size(14/16);

			th {
				padding-bottom: 20px;
				font-weight: 500;
			}

			td {
				text-align: end;
				font-weight: 500;
			}
		}

		.wc-proceed-to-checkout {
			.checkout-button {
				width: 100%;
			}
		}
	}

	.woocommerce-shipping-totals {
		td {
			padding-bottom: 20px;
			position: relative;

			&:after {
				clear: both;
				content: "";
				display: block;
			}
		}
	}

	.woocommerce-shipping-methods {
		padding: 0 0 20px;
	}

	.woocommerce-shipping-destination {
		@include font-size(14/16);
		font-weight: 500;
		margin: 0;
		float: left;
		color: #1d2128;

		strong {
			font-weight: 500;
		}
	}

	.woocommerce-shipping-calculator {
		font-weight: 500;
		@include font-size(14/16);
		width: 100%;
		text-align: right;

		a {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: #1d2128;
			}
		}

		.shipping-calculator-form {
			text-align: left;

			.input-text,
			.button {
				width: 100%;
			}

			.button {
				background-color: #1d2128;
			}
		}
	}

	.cart-empty {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		background-color: transparent;
		color: #1d2128;

		img {
			width: 40px;
		}

		.empty-cart__title {
			@include font-size(28/16);
			font-weight: 500;
			margin-top: 29px;
			margin-bottom: 18px;
		}

		.empty-cart__description {
			@include font-size(18/16);
			font-weight: 400;
		}
	}

	.empty-cart-button-group {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.return-to-shop {
		margin: 0 24px 0 0;

		.button {
			min-width: 200px;
		}
	}

	.empty-cart-button-sign-in {
		margin: 0;

		.button {
			min-width: 200px;
		}
	}
}

.wc-block-cart {
	table.wc-block-cart-items {
		border: 1px solid #ecf0f4;
		padding: 26px 31px 31px;

		.wc-block-cart-items__header {
			@include font-size(18/16);
			color: #161619;
			text-transform: capitalize;

			th {
				font-weight: 500;
			}
		}

		.wc-block-cart-items__row td:after {
			border-color: #ecf0f4;
			opacity: 1;
		}

		.wc-block-cart-item__product {
			@include font-size(14/16);
			color: #1d2128;
		}

		.wc-block-cart-item__prices {
			@include font-size(14/16);
			color: #1d2128;
			font-weight: 500;
		}

		.wc-block-components-product-price__value.is-discounted {
			background-color: transparent;
		}

		.wc-block-cart-item__quantity {
			padding: 15px 0 0;
			input.wc-block-components-quantity-selector__input {
				padding: 0;
				height: auto;

				&:focus {
					border: none;
					box-shadow: none;
				}
			}

			.wc-block-components-quantity-selector:after {
				display: none;
			}

			.wc-block-components-quantity-selector {
				margin-bottom: 10px;
			}

			.wc-block-components-quantity-selector__button {
				@include font-size(14/16);
				line-height: 1;
				height: 24px;
				border: 2px solid #dadfe3;
				border-radius: 0;
				min-width: 24px;
				font-weight: 600;

				&:focus {
					box-shadow: none;
				}
			}

			.wc-block-cart-item__remove-link {
				text-align: left;
			}
		}

		.wc-block-components-formatted-money-amount {
			font-weight: 500;
		}

		.wc-block-components-product-metadata__description {
			display: none;
		}
	}
}

.wc-block-cart.is-mobile table.wc-block-cart-items{border:none;padding:0}

.wc-block-cart .wp-block-woocommerce-cart-order-summary-block {
	border: 1px solid #ecf0f4;
    padding: 26px 31px 31px;
    background-color: #fbfbfc;

	.wc-block-components-totals-wrapper:after {
		border-color: #ecf0f4;
		opacity: 1;
	}

	.wc-block-cart__totals-title {
		text-align: left !important;
	}

	.wc-block-components-totals-item__value {
		font-weight: 500;
	}

}

.wc-block-cart__submit {
	.wc-block-components-button {
		border-radius: var(--mt-border__radius);
		background-color: var(--mt-color__primary);
		color: var(--mt-color__primary--light);
		box-shadow: 0 2px 6px 0 var(--mt-color__primary--box-shadow);
		margin-top: 10px;
		outline: none !important;

		&:focus {
			box-shadow: 0 2px 6px 0 var(--mt-color__primary--box-shadow) !important;
		}
	}
}